.pgan-failed-layout-run {
    background-image: url(images/red-folder.gif);
}

.x-grid-tree-node-expanded .pgan-failed-layout-run {
    background-image: url(images/red-folder-open.gif);
}

.pgan-unrendered-container {
    background-image: url(images/gray-folder.gif);
}

.x-grid-tree-node-expanded .pgan-unrendered-container {
    background-image: url(images/gray-folder-open.gif);
}

.pgan-missing-value {
    color: red;
    /*font-weight: bold;*/
}

.pgan-available-value {
    display: none;
}

.pgan-show-all-triggers .pgan-available-value {
    display: block;
}

.pgan-layout-not-done {
    background-image: url(images/red-led.gif) !important;
}

.pgan-layout-partial-done {
    background-image: url(images/orange-led.gif) !important;
}

.pgan-layout-done {
    background-image: url(images/green-led.gif) !important;
}

.pgan-layout .pgan-delete-row,
.pgan-layout .pgan-get-row-info {
    display: none !important;
}

.pgan-refresh {
    background-image: url(images/refresh.gif) !important;
}

.pgan-info {
    background-image: url(images/info.gif) !important;
}

.pgan-load-run .pgan-rendered-container{
    background-image: url(images/folder-open.gif) !important;
}

textarea.x-form-field {
    border: 0 none;
}

.pgan-visible-element {
    background-image: url(images/boxParent.gif) !important;
}

.pgan-hidden-element {
    background-image: url(images/boxParent.gif) !important;
}

.pgan-rendered-component {
    background-image: url(images/component.gif) !important;
}

.pgan-unrendered-component {
    background-image: url(images/gray-component.gif) !important;
}

.pgan-noncomponent .pgan-display-comp-spec {
    display: none !important;
}